/**/bin
/**/build
/**/.gradle
/**/.settings
/**/.classpath
/**/.project
/**/.idea
/**/.externalToolBuilders
/**/.idea
/**/*.iml
/**/*.ipr
/**/*.iws
/**/src/main/webapp
/**/src/main/resources/static
LOG_HOME_IS_UNDEFINED
/**/logs
/logs
/build
